<aside class="sidebar">
  {% if site.author.avatar %}
    <img src="{{ '/images/' | append: site.author.avatar | relative_url }}"
         alt="{{ site.author.name }}"
         class="author-avatar">
  {% endif %}

  <h2 class="author-name">{{ site.author.name }}</h2>

  {% if site.author.bio %}
    <p class="author-bio">{{ site.author.bio }}</p>
  {% endif %}

  <ul class="author-links">
    {% if site.author.employer %}
      <li>{{ site.author.employer }}</li>
    {% endif %}
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
    {% endif %}
    <li><a href="{{ '/files/cv.pdf' | relative_url }}">CV (PDF)</a></li>
  </ul>
</aside>
